<footer class="footer">
    <div class="footer-section left">
      <p><a href="#">SOBRE NOSOTROS</a></p>
      <p><a href="#">TRABAJA CON NOSOTROS</a></p>
    </div>
    <div class="footer-section center">
      <div class="redes">
        <a href="#"><img src="assets/x.png" alt=""></a>
        <a href=""><img src="assets/instagram.png" alt=""></a>
        <a href=""><img src="assets/tumbler.png" alt=""></a>
      </div>
      <p>&copy; 2025 Café Ágata Company. Reservados todos los derechos.</p>
    </div>
    <div class="footer-section right">
      <p><a href="#">ATENCIÓN AL CLIENTE</a></p>
      <p><a href="#">CONTÁCTANOS</a></p>
    </div>
  </footer>