<div class="main-container">
    <section class="latte-section">
        <img src="assets/coffee_latte.png" alt="" class="latte-image">
            <div class="latte-text">
                <p>
                    Porque nos Latte el café, nos latte acompañarte <br>
                    todos los días y nos latte verte sonreír. <br>
                    Nos Latte tu mejor versión.
                </p>
            </div>
    </section>
    <section class="tradition-section">
        <img src="assets/coffee_beans.png" alt="" class="tradition-image">
            <div class="tradition-text">
                <h2>UNA TRADICIÓN HECHA CAFÉ</h2>
                    <p>
                        Un café que viene del corazón de México y de su gente. <br>
                        Disfruta de sus notas a canela y naranja.
                    </p>
            </div>
    </section>
</div>


<div class="container">
    <section class="seasonal-section">
        <h1>¡Disfrutalos!</h1>
        <h2><strong>Conoce nuestras bebidas y alimentos de temporada</strong></h2>
    </section>
    <section class="food">
        @for (i of items; track i){ 
            <div class="collapsible" [class.open]="globalKey===i.text">
                <h1 (click)="fnOpenCollapsible(i.text)" class="title">{{i.text}}</h1>
                @if(globalKey===i.text ){
                    <div class="options">
                        @for(j of i.subMenu; track j){
                            <button
                                class="menu-button"
                                [class.activate]="selectedOption===j.text"
                                (click)="fnSelectOption(j.images, j.text)"
                            >{{j.text}}</button>
                        }
                    </div>
                    <div class="imgs-container">
                        @for (image of selectedImages; track image) {
                            <img 
                            src="assets/{{image}}" 
                            alt="Se fue de sabatico"
                            class="image-item"
                            [class.visible]="image===currentImage"
                            >
                        }
                    </div>
                }
            </div>
        }
    </section>
</div>
